.bio-info{

    p {
        font-size: 22px;
        line-height: 1.4;
    }

    .pg-tag {
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        margin: 20px 0;
    }

    .bio-light {
        font-size: 25px;
        font-weight: 400;
    }

    .bio-pg{
        font-size: 30px;
        font-weight: bold;
    }
}